section{
    display: flex;
}
.image-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 35%;
    height: 80vh;
    margin-left: 5vw;
}
.image{
    width: 60%;
    margin-top: -10vh;
}
img{
   width: 90%;
   height: 100%;
}
.bolder-text{
    font-size: 70px;
    font-weight: 800;
   
}
p{
    font-size: 20px;
}
button{
    width: 110px;
    height: 6vh;
    background-color: black;
    color:white;
    border-radius: 8px;
}
.upper-first-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width:70%;
    border-radius: 15px;
    background-color: peachpuff;
    /* z-index: 1; */
    margin-top: -25vh;
    /* margin-left: 20px; */

}
.lower-first-data{
    display: flex;
    gap:6vw;
    align-items: center;
    margin-right: 3vw;
}
.lower-first-data-second{
    display: flex;;
    align-items: center;
    gap:6vw;
    margin-left: 3vw;
}
.location{
    height: 4vh;
    width: 10vw;
    border: 1px solid black;
    background-color: white;
    display: flex;
    gap:4.5vw;
    align-items: center;
    padding-left: 1vw;
    font-size: 15px;
}
.type{
    height: 4vh;
    width: 10vw;
    border: 0.5px solid black;
    background-color: white;
    display: flex;
    gap:5.5vw;
    align-items: center;
    padding-left: 1vw;
    font-size: 15px;
}
.range{
    height: 4vh;
    width: 12vw;
    border: 0.5px solid black;
    background-color: white;
    display: flex;
    /* justify-content: space-around; */
    gap:4vw;
    align-items: center;
    padding-left: 1vw;
    font-size: 15px;
}
@media screen and (max-width:600px){
    section{
        display: flex;
        flex-direction: column;
    }
    .image-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin-left: 8px;
        width: 98%;
        height: 80vh;
        margin-top: -4vh;
    }
    .image img{
        width: 100vw;
        height: 50vh;
        margin-top: -2vh;
     }
     .upper-first-data{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 4vh;
     }
     .first-data{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
        width:80%;
        border-radius: 15px;
        background-color: peachpuff;
        margin-top:0vh;
    }
    .location{
        height: 4vh;
        width: 25vw;
        border: 1px solid white;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* padding-left: 2vw; */
        font-size: 15px;
    }
    .type{
        height: 4vh;
        width: 25vw;
        border: 1px solid white;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* padding-left: 2vw; */
        font-size: 15px;
    }
    .range{
        height: 4vh;
        width: 30vw;
        border: 1px solid white;
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        /* gap:8vw; */
        align-items: center;
        /* padding-left: 2vw; */
        font-size: 15px;
    }
    .lower-first-data-second{
        display: flex;;
        align-items: center;
        gap:4vw;
        margin-left: 3vw;
    }
}